@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-violet: hsl(257, 40%, 49%);
  --color-soft-magenta: hsl(300, 69%, 71%);
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: url("./images/bg-desktop.svg") no-repeat;
  background-size: cover;
  background-color: var(--color-violet);
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4rem;
  padding-top: 4rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
}

button {
  height: 3.5rem;
  width: 12.5rem;
  border-radius: 1.75rem;
  border: 0;
  font-family: "Poppins", sans-serif;
  color: var(--color-violet);
  font-size: 1.125rem;
  font-weight: 400;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side {
  padding: 4rem;
}

.right-side {
  padding: 7rem 4rem 1.5rem 4rem;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.right-side-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right-side-content p {
  line-height: 1.6;
}

.right-side-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}

.right-side-footer i {
  margin-right: 0.75rem;
  border: 1px solid white;
  border-radius: 50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: var(--color-soft-magenta);
}
