@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --progress-gradient: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  --color-pale-blue: hsl(243, 100%, 93%);
  --color-grayish-blue: hsl(229, 7%, 55%);
  --color-dark-blue: hsl(228, 56%, 26%);
  --color-very-dark-blue: hsl(229, 57%, 11%);
}

html {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  background: url("./images/bg-desktop.png") no-repeat bottom;
  background-size: contain;
  background-color: var(--color-very-dark-blue);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1.875rem;
}

.widget-left {
  width: 21.875rem;
  height: 12.5625rem;
  background: var(--color-dark-blue);
  border-radius: 0.6rem 6.28125rem 0.6rem 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.125rem;
}

.widget-left .logo,
.widget-left .icons {
  margin-left: 2.5625rem;
}

.widget-left .logo {
  text-align: left;
}

.widget-left .icons {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 1rem;
}

.icon-document,
.icon-folder,
.icon-upload {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-color: var(--color-very-dark-blue);
  background-position: center;
  background-size: auto;
  border-radius: 0.7rem;
}

.icon-document {
  width: 100%;
  background-image: url("./images/icon-document.svg");
}

.icon-folder {
  width: 100%;
  background-image: url("./images/icon-folder.svg");
}

.icon-upload {
  width: 100%;
  background-image: url("./images/icon-upload.svg");
}

.widget-right {
  width: 33.75rem;
  height: 9.625rem;
  background-color: var(--color-dark-blue);
  border-radius: 0.6rem;
  position: relative;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: var(--color-pale-blue);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.upper {
  width: 85%;
  margin-bottom: 0.5rem;
}

.progress-bar {
  height: 1.25rem;
  background-color: var(--color-very-dark-blue);
  width: 85%;
  border-radius: 0.625rem;
}

.progress-bar-filled {
  background: var(--progress-gradient);
  height: 0.875rem;
  margin-top: 0.1875rem;
  margin-left: 0.1875rem;
  margin-bottom: 0.1875rem;
  width: 81.5%;
  border-radius: 0.4375rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.circle {
  border-radius: 50%;
  background-color: white;
  height: 0.625rem;
  width: 0.625rem;
  display: inline-block;
  margin-right: 0.1rem;
}

.storage {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.storage-min,
.storage-max {
  font-weight: 700;
  font-size: 12px;
}

.info-bubble {
  position: absolute;
  background-color: white;
  width: 11.1875rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
  top: 0;
  right: 0;
  transform: translate(-22%, -60%);
}

.info-bubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 1.18rem solid transparent;
  border-top-color: white;
  border-bottom: 0;
  border-right: 0;
  margin-right: 0;
  margin-bottom: -1rem;
}

.info-bubble p {
  font-size: 12px;
  color: var(--color-grayish-blue);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.info-bubble p span {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--color-very-dark-blue);
  letter-spacing: normal;
}

.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--color-pale-blue);
}

@media (max-width: 450px) {
  body {
    background: url("./images/bg-mobile.png") no-repeat center;
    background-size: cover;
    background-color: var(--color-very-dark-blue);
  }

  .wrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .widget-right {
    width: 21.875rem;
  }

  .info-bubble {
    border-radius: 0.5rem;
    transform: translate(-50%, 175%);
  }

  .info-bubble::after {
    content: none;
  }

  .content-top {
    text-align: center;
  }
}
