@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
}

body {
  background: var(--cream);
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
  width: 37.5rem;
  height: 28.125rem;
}

.image img {
  object-fit: cover;
  height: 100%;
  border-radius: 0.6rem 0 0 0.6rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.8rem;
  background: white;
  border-radius: 0 0.6rem 0.6rem 0;
}

.info h1 {
  font-family: "Fraunces", serif;
}

.info h2 {
  font-size: 0.9rem;
}

.price {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: var(--dark-cyan);
}

.strike {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: black;
  font-family: "Montserrat", sans-serif;
  vertical-align: middle;
}

.button {
  background-color: var(--dark-cyan);
  color: white;
  border: 0;
  height: 3rem;
  border-radius: 0.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
