@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-pink: hsl(322, 100%, 66%);
  --color-very-pale-cyan: hsl(193, 100%, 96%);
  --color-very-dark-cyan: hsl(192, 100%, 9%);
  --color-grayish-blue: hsl(208, 11%, 55%);
}

html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  font-size: 18px;
  display: grid;
  grid-template-rows: 1fr auto;
}

header {
  background: url("./images/bg-hero-desktop.svg") no-repeat;
  background-color: var(--color-very-pale-cyan);
}

main {
  margin: 0 auto;
}

button {
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.5rem 5rem 0 5rem;
}

.nav img {
  width: 12.5rem;
}

.nav-button {
  width: 12.625rem;
  height: 3rem;
  border: 0;
  border-radius: 1.5rem;
  background-color: white;
  font-size: 0.875rem;
  font-weight: 700;
}

.hero {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  justify-content: center;
  max-width: 1440px;
  margin: 4.5rem 5rem 4.5rem 5rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 31.75rem;
  gap: 0.75rem;
  height: auto;
}

.hero-left h1 {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}

.hero-left p {
  line-height: 1.5;
  margin-top: 1rem;
}

.hero-button {
  margin-top: 1.25rem;
  width: 17.5rem;
  height: 3.5rem;
  border: 0;
  color: white;
  background-color: var(--color-pink);
  border-radius: 1.75rem;
  font-weight: 700;
}

.nav-button:hover {
  color: var(--color-grayish-blue);
}

.hero-button:hover {
  background-color: #ff9bdb;
}

.hero-right img {
  width: 42.5625rem;
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  margin: 10rem 5rem 17rem 5rem;
}

.card {
  display: flex;
  margin-bottom: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 3.5rem 0 3.5rem 0;
}

.card-left {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.card-left-content {
  max-width: 30.5rem;
  height: auto;
}

.card-left-content p {
  color: var(--color-grayish-blue);
  line-height: 1.5;
  margin-top: 1rem;
}

.card-right {
  text-align: center;
}

.card-right img {
  width: 70%;
}

.cta-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 3.5rem;
}

.cta-container {
  max-width: 50rem;
  max-height: 17.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: var(--color-very-dark-cyan);
  margin: 0 auto;
}

.cta {
  text-align: center;
  margin: 3rem 1rem;
}

.cta h2 {
  font-size: 2rem;
  margin: 0 3rem;
}

.cta-button {
  max-width: 25rem;
  /* height: 5rem; */
  background-color: var(--color-pink);
  color: white;
  border-radius: 2.5rem;
  border: 0;
  margin-top: 2.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 4rem;
}

.cta-button:hover {
  background-color: #ff9bdb;
}

footer {
  background-color: var(--color-very-dark-cyan);
  color: white;
  max-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2.5rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5rem;
}

address {
  flex: 0 1 25%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.address-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.address-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.logo {
  width: 15rem;
  height: 2.375rem;
}

.links {
  flex: 0 1 25%;
  line-height: 2.4;
}

.links ul {
  columns: 2;
  list-style-type: none;
  gap: 5.5rem;
}

.links ul li {
  cursor: pointer;
}

.links ul li:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  cursor: pointer;
}

.social p {
  transition: color 0.2s ease-in-out;
}

.social p:hover {
  color: var(--color-pink);
}

.copyright {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1000px) {
  .card-left {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .cta-button {
    font-size: 1rem;
  }

  .cta h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  body {
    width: 100%;
  }

  .nav {
    margin: 0 auto;
    max-width: 85%;
  }

  .nav img {
    width: 6.5rem;
  }

  .nav-button {
    width: 6.5rem;
    height: 2rem;
    font-size: 0.75rem;
  }

  .hero {
    max-width: 100%;
    grid-template-columns: none;
    margin: 0 auto;
  }

  .hero-left {
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  .hero-right {
    text-align: center;
  }

  .hero-right img {
    width: 85%;
  }

  .cards {
    margin: 3rem auto 15rem auto;
    width: 90%;
  }

  .card {
    flex-direction: column;
  }

  footer {
    max-height: 50rem;
  }

  .cta-wrapper {
    width: 90%;
  }

  .cta {
    margin: 0;
    padding: 2.5rem 0.75rem;
  }

  .cta h2 {
    margin: 0;
    font-size: 1.125rem;
  }

  .cta-button {
    width: 75%;
    font-size: 0.625rem;
    padding: 0.9rem 2rem;
  }

  .footer-wrapper {
    flex-direction: column;
    /* margin-right: 0; */
    align-items: flex-start;
    margin: 0 1rem;
  }

  .links ul {
    columns: 1;
  }
}
